.background-color {
    background: #d7e8f7;
    padding-top: 0.5em;
    opacity: 0.85;
}

.modal-color {
  background-color: #E3EBEE;
  color: black;
}

.background{
background-image: url("backgrounds/Japan1.jpg");
background-repeat: no-repeat; 
position: fixed;
top:0;
left:0; 

min-width: 100%;
min-height: 100%; 
background-size:cover; 
}

.responsive{
  width: 100%
}
